* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../img/Mars-large.jpg') no-repeat center top fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #291708;
}

.title {
  position: relative;
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
  color: #f7deca;
  text-align: center;
}

.title img {
  position: fixed;
  top: 12vh;
  left: 3vw;
  width: 18vw;
  border: 5px #f7deca solid;
}

.title h1 {
  font-size: 48px;
}

.text h2 {
  margin-bottom: 5px;
}

.text-box {
  display: block;
  width: 50vw;
  padding-top: 20vh;
  margin: 0 auto;
  text-align: center;
}

.submit-form {
  display: block;
}

table {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
}

td {
  line-height: 1.2;
}

td.camera {
  width: 100px;
}

form {
  position: relative;
  width: 250px;
  height: 125px;
  margin: 0 auto;
}

#sol-input input {
  position: absolute;
  right: 0;
  width: 70%;
}

#sol-input label {
  position: absolute;
  left: 10px;
  top: -2px;
}

#camera-input input {
  position: absolute;
  width: 70%;
  top: 30px;
  right: 0;
}

#camera-input label {
  position: absolute;
  left: 0;
  top: 28px;
}

button {
  position: absolute;
  top: 75px;
  right: 50%;
  transform: translate(50%, 0);
  height: 25px;
  width: 80px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #291708;
  color: #f7deca;
  cursor: pointer;
}

button:hover {
  background-color: #553419;
}

.photo {
  display: block;
  margin: 20px auto;
  width: 450px;
  border: 10px #291708 solid;
  border-radius: 5px;
}

/* media queries */

@media (max-width: 1100px) {
  html {
    background: url('../img/Mars-large.jpg') no-repeat center 8vh fixed;
  }

  .title {
    padding-top: 4vh;
  }

  .title h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .title span {
    display: block;
    font-size: 36px;
  }

  .title img {
    display: none;
    /* position: center center;
    width: 40vw;
    margin: 0 auto; */
  }

  .text-box {
    width: 100%;
    text-align: center;
  }

  .text h2 {
    line-height: 1.3;
  }

  tbody,
  tr {
    width: 100vw;
    margin: 0 auto;
    align-content: center;
  }

  td {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    align-content: center;
  }

  .camera {
    text-decoration: underline;
    margin-left: 7vw;
  }

  .description {
    margin-left: 12vw;
  }

  .result-cam-and-sol {
    display: block;
  }

  .photo {
    width: 90vw;
  }
}
