* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url('../img/Mars-large.jpg') no-repeat center top fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.7;
  color: #291708;
}

.title {
  background-color: #000;
  color: #f7deca;
}

.title img {
  position: fixed;
  top: 12vh;
  left: 3vw;
  width: 18vw;
  border: 5px #f7deca solid;
}

.title h1 {
  font-size: 48px;
}

.text {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.border {
  width: 30vw;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #291708;
}

.text h2 {
  margin-top: 15vh;
  margin-bottom: 20px;
}

.camera {
  text-decoration: underline;
  font-weight: bold;
  line-height: 1;
}

.input {
  margin-left: 8px;
  display: inline-block;
}

form {
  position: relative;
}

button {
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #291708;
  color: #f7deca;
  cursor: pointer;
}

button:hover {
  background-color: #553419;
}

.photo {
  display: block;
  margin: 20px auto;
  width: 450px;
  border: 10px #291708 solid;
  border-radius: 5px;
}

/* media queries */

@media (max-width: 1000px) {
  html {
    background: url('../img/Mars-large.jpg') no-repeat center 8vh fixed;
    background-color: #000;
  }

  .title {
    padding-top: 4vh;
  }

  .title h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .title span {
    display: block;
    font-size: 36px;
  }

  .title img {
    display: none;
  }

  .text {
    display: relative;
    text-align: center;
  }

  .camera {
    display: block;
    text-decoration: underline;
    line-height: 1;
    text-align: center;
  }

  .description {
    display: block;
    margin-bottom: 8px;
    /* line-height: 1.6; */
    text-align: center;
  }

  .border {
    width: 100%;
    border: none;
  }

  .input {
    position: relative;
    align-content: right;
  }

  button {
    margin-bottom: 5vh;
  }

  .result-cam-and-sol {
    display: block;
  }

  .photo {
    width: 90vw;
  }

  .no-results {
    margin-bottom: 20vh;
  }
}
